@import url('/assets/fonts/Inconsolata/Inconsolata-VariableFont_wdth\,wght.ttf');

*{
    padding: none;
    margin: 0;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(252, 209, 22);
}

.container {
    text-align: center;
    position: relative;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: fit-content;
}
h1 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 10px;
}
p {
    font-size: 1.2em;
    color: #555;
}
#saat {
    font-size: clamp(7rem, 15vw, 30vw);
    font-family: "Inconsolata", monospace;
    display: block;
}
.ilerleme{
    position: relative;
    width: 100%;
    height: clamp(3vw,5vw,10vw);
    display: flex;
    align-items: center;
    justify-content: center;
}
progress#ilerleme-gostergesi{
    position: absolute;
    width: inherit;
    height: inherit;
}
span#ilerleme-yazisi{
    position: absolute;
    font-size: clamp(0.5vw,2vw,4vw);
    
}
